/* *{
margin: 0;
padding: 0;
} */

body, html{
    width: 98vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
 
    width: 400px;
    height: 200px;
    border: 2px solid black;
}